[submodule "main/PHP_JPEG_Metadata_Toolkit"]
	path = main/PHP_JPEG_Metadata_Toolkit
	url = https://github.com/adamfranco/PJMT.git
[submodule "main/harmoni"]
	path = main/harmoni
	url = https://github.com/adamfranco/harmoni.git
[submodule "main/polyphony"]
	path = main/polyphony
	url = https://github.com/adamfranco/polyphony.git
[submodule "main/jpgraph"]
	path = main/jpgraph
	url = https://github.com/adamfranco/jpgraph.git
[submodule "main/domit"]
	path = main/domit
	url = https://github.com/adamfranco/domit.git
[submodule "javascript/scriptaculous-js"]
	path = javascript/scriptaculous-js
	url = https://github.com/madrobby/scriptaculous.git
