/*********************************************************
 * Block 2
 *********************************************************/

.Block_Standard {
    border: 0px;
}
.Block_Standard .Content {
    background-color: [[FG_COLOR]];
    background-image: url('./images/[[IMAGE_DIR]]/block_gradient.jpg');
    background-x-position: center;
    background-y-position: bottom;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 1%;
}