/*********************************************************
 * MenuHeading 1
 *********************************************************/

.MenuItem_Heading {
    border: 0px;
}

.MenuItem_Heading .Content {
    background-color: [[FG_COLOR]];
    padding: 10px;
    text-align: left;
    margin: 0px;
}