/*********************************************************
 * Block 2 - Standard
 *********************************************************/

.Block_Standard {
    padding: 1px;
    border: 0px;
}

.Block_Standard .Content {
    background-color: [[FG_COLOR]];
    padding: 7px;
    text-align: left;
    margin: 0px;
    height: 1%;
}

.Block_Standard .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/corner_TL.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}

.Block_Standard .Top {
    border-top: 1px solid [[BORDER_COLOR]];
    background-color: [[FG_COLOR]];
}

.Block_Standard .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/corner_TR.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}


.Block_Standard .Right {
    background-color: [[FG_COLOR]];
    border-right: 1px solid [[BORDER_COLOR]];

}

.Block_Standard .Left {
    background-color: [[FG_COLOR]];
    border-left: 1px solid [[BORDER_COLOR]];
}


.Block_Standard .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/corner_BL.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}

.Bottom {
    border-bottom: 1px solid [[BORDER_COLOR]];
    background-color: [[FG_COLOR]];
}

.BorderBR {
    background: url('./images/[[IMAGE_DIR]]/corner_BR.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}