/*********************************************************
 * Header 1
 *********************************************************/

*.Header {
    padding: 1px;
    border: 0px;
}

*.Header .Content {
    background-color: [[FG_COLOR]];
    padding: 5px;
    text-align: left;
    margin: 0px;
    font-size: large;
}

.Header .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/corner_TL.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}

.Header .Top {
    border-top: 1px solid [[BORDER_COLOR]];
    background-color: [[FG_COLOR]];
}

.Header .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/corner_TR.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}

.Header .Right {
    background-color: [[FG_COLOR]];
    border-right: 1px solid [[BORDER_COLOR]];

}

.Header .Left {
    background-color: [[FG_COLOR]];
    border-left: 1px solid [[BORDER_COLOR]];
}

.Header .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/corner_BL.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}

.Header .Bottom {
    border-bottom: 1px solid [[BORDER_COLOR]];
    background-color: [[FG_COLOR]];
}

.Header .BorderBR {
    background: url('./images/[[IMAGE_DIR]]/corner_BR.gif') no-repeat;
    background-color: [[FG_COLOR]];
    width: 5px;
    height: 5px;
}