/*********************************************************
 * Heading 3 - normal
 *********************************************************/

.Heading_3 {
    padding: 1px;
    border: 0px;
}
.Heading_3 .Content {
    background-color: [[HEADER_BG_COLOR]];
    padding: 1px;
    padding-left: 5px;
    text-align: left;
    font-size: 110%;
    margin: 0px;
}

.Heading_3 a {
    color: [[MENU_LINK_COLOR]];
}

.Heading_3 .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/corner_TL.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 5px;
    height: 5px;
}

.Heading_3 .Top {
    border-top: 1px solid [[BORDER_COLOR]];
    background-color: [[HEADER_BG_COLOR]];
}

.Heading_3 .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/corner_TR.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 5px;
    height: 5px;
}

.Heading_3 .Right {
    background-color: [[HEADER_BG_COLOR]];
    border-right: 1px solid [[BORDER_COLOR]];

}

.Heading_3 .Left {
    background-color: [[HEADER_BG_COLOR]];
    border-left: 1px solid [[BORDER_COLOR]];
}

.Heading_3 .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/corner_BL.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 5px;
    height: 5px;
}

.Heading_3 .Bottom {
    border-bottom: 1px solid [[BORDER_COLOR]];
    background-color: [[HEADER_BG_COLOR]];
}

.Heading_3 .BorderBR {
    background: url('./images/[[IMAGE_DIR]]/corner_BR.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 5px;
    height: 5px;
}