/*********************************************************
 * Menu 1 unselected content
 *********************************************************/

*.MenuItem_Link_Unselected {
     padding: 1px;
    border: 0px;
}

*.MenuItem_Link_Unselected .Content {
    background-color: [[MENU_COLOR]];
    text-align: left;  
    font-size: 100%;
    margin-top: -2px;
    margin-bottom: -2px;
}

*.MenuItem_Link a {
    display: block;
    text-decoration: none;
}


.MenuItem_Link_Unselected .Content:hover {
    background-color: [[HEADER_BG_COLOR]];
}

.MenuItem_Link_Unselected:hover td {
    background-color: [[HEADER_BG_COLOR]];
}


.MenuItem_Link_Unselected .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/corner_TL.gif') no-repeat;
    background-color: [[MENU_COLOR]];
    width: 5px;
    height: 5px;
}

.MenuItem_Link_Unselected .Top {
    border-top: 1px solid [[BORDER_COLOR]];
    background-color: [[MENU_COLOR]];
}

.MenuItem_Link_Unselected .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/corner_TR.gif') no-repeat;
    background-color: [[MENU_COLOR]];
    width: 5px;
    height: 5px;
}

.MenuItem_Link_Unselected .Right {
    background-color: [[MENU_COLOR]];
    border-right: 1px solid [[BORDER_COLOR]];

}

.MenuItem_Link_Unselected .Left {
    background-color: [[MENU_COLOR]];
    border-left: 1px solid [[BORDER_COLOR]];
}

.MenuItem_Link_Unselected .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/corner_BL.gif') no-repeat;
    background-color: [[MENU_COLOR]];
    width: 5px;
    height: 5px;
}

.MenuItem_Link_Unselected .Bottom {
    border-bottom: 1px solid [[BORDER_COLOR]];
    background-color: [[MENU_COLOR]];
}

.MenuItem_Link_Unselected .BorderBR {
    background: url('./images/[[IMAGE_DIR]]/corner_BR.gif') no-repeat;
    background-color: [[MENU_COLOR]];
    width: 5px;
    height: 5px;
}