/*********************************************************
 * Heading 1 - Biggest
 *********************************************************/

.Heading_1 {
    padding: 1px;
    border: 0px;
    margin-right: 2px;
    margin-left: 2px;
}

.Heading_1 .Content {
    background-color: [[HEADER_BG_COLOR]];
    padding: 1px;
    padding-left: 5px;
    text-align: left;
    font-size: 150%;
    margin: 0px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.Heading_1 a {
    color: [[MENU_LINK_COLOR]];
}

.Heading_1 .BorderTL {
    background: url('./images/[[IMAGE_DIR]]/header_TL.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 6px;
    height: 6px;
}

.Heading_1 .Top {
    border-top: 1px solid [[BORDER_COLOR]];
    background-color: [[HEADER_BG_COLOR]];
}

.Heading_1 .BorderTR {
    background: url('./images/[[IMAGE_DIR]]/header_TR.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 6px;
    height: 6px;
}


.Heading_1 .Right {
    background-color: [[HEADER_BG_COLOR]];
    border-right: 1px solid [[BORDER_COLOR]];
    width: 5px;

}

.Heading_1 .Left {
    background-color: [[HEADER_BG_COLOR]];
    border-left: 1px solid [[BORDER_COLOR]];
    width: 5px;
}


.Heading_1 .BorderBL {
    background: url('./images/[[IMAGE_DIR]]/header_BL.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 6px;
    height: 6px;
}

.Heading_1 .Bottom {
    border-bottom: 1px solid [[BORDER_COLOR]];
    background-color: [[HEADER_BG_COLOR]];
}

.Heading_1 .BorderBR {
    background: url('./images/[[IMAGE_DIR]]/header_BR.gif') no-repeat;
    background-color: [[HEADER_BG_COLOR]];
    width: 6px;
    height: 6px;
}

.corner {
    width: 6px;
    height: 6px;
    border: 0px solid gray;
}