/*********************************************************
 * Block 3 - Sidebar
 *********************************************************/

*.block3 {
    padding: 6px;
    text-align: left;
    margin: 0px;
    border: 0px;
}

