/*********************************************************
 * Menu - Right
 *********************************************************/

.Menu_Right {
    padding: 1px;
    border: 0px;
}

.Menu_Right .Menu_Sub {
    margin-right: 17px;
    margin-left: 0px;
    font-size: [[MENU_FONT_SIZE]];
}
