/*********************************************************
 * Heading - Big
 *********************************************************/

.Heading_2 {
    border: 1px none [[BACKGROUND_BORDER]];
    margin: 0px;
    margin-top: 11px;
}

*.Heading_2 .box01 {
    border: 1px solid [[BACKGROUND_BORDER01]];
    margin: 0px;   
}


*.Heading_2 .box02 {
    border: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
    margin: 0px;
}

.Heading_2 .Content {
    padding: 3px;
    margin-left: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 110%;
}

*.Heading_2 a {
    text-decoration: none;    
}