/*********************************************************
 * Menu - Sub
 *********************************************************/
 
*.Menu_Sub {
    font-size: 90%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 3px;    
}

*.Menu_Sub .MenuItem_Link_Selected {
    text-align: left;
    border-top: 1px none [[MENU_BORDER_TOP]];
    border-bottom: 1px none [[MENU_BORDER_BOTTOM]];
    border-left: 0px none [[MENU_BORDER_LEFT]];
    border-right: 0px none [[MENU_BORDER_RIGHT]];    
}

*.Menu_Sub .MenuItem_Link_Selected .box01 {
    border-top: 1px solid [[MENU_BORDER_TOP01]];
    border-bottom: 1px solid [[MENU_BORDER_BOTTOM01]];    
}

*.Menu_Sub .MenuItem_Link_Selected .box02 {
    border-top: 1px none [[MENU_BORDER_TOP02]];
    border-bottom: 1px none [[MENU_BORDER_BOTTOM02]];    
}

*.Menu_Sub .MenuItem_Link_Unselected a {

}
