/*********************************************************
 * Footer 1
 *********************************************************/

*.Footer {
    border-top: 1px [[BORDER_STYLE]] [[BORDER_COLOR]];
    margin-top: 2px;
    padding: 5px;
    height: 1%;
}

