/*********************************************************
 * Heading - Normal
 *********************************************************/

.Heading_3 {
    padding-left: 10px;
    margin: 5px;    
    text-align: left;
    font-weight: bold;   
}

*.Heading_3 a {
    text-decoration: none;    
}
