/*********************************************************
 * Block - Sidebar
 *********************************************************/

*.block3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
}

*.block3 .Content {
    height: 1%;
    padding: 0px;
}
