/*********************************************************
 * Heading - Normal
 *********************************************************/

.Heading_3 {    

}

.Heading_3 .Content {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;    
}

*.Heading_3 a {
    text-decoration: none;    
}
