/*********************************************************
 * Heading - Biggest
 *********************************************************/

.Heading_1 {       

}

.Heading_1 .Content {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 125%;
}

*.Heading_1 a {
    text-decoration: none;    
}