/*********************************************************
 * Menu 1 Unselected
 *********************************************************/

*.MenuItem_Link_Unselected { 
	border-top: 1px solid [[STANDARD_BORDER_TOP]];
	border-bottom: 1px solid [[STANDARD_BORDER_BOTTOM]];
    padding-left: 0px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 0px;
}

*.MenuItem_Link_Unselected .Content {
    padding: 0px;
    text-align: left;    
    font-size: 100%;
}


*.MenuItem_Link_Unselected a {
    display: block;
    text-decoration: none;
}

*.MenuItem_Link_Unselected a:hover {
    display: block;  
    color: [[LINK_COLOR]];
}
    